html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(85, 193, 255);
}

* {
    background-color: rgb(85, 193, 255);
}

#logo {
    height: 35px;
    margin: 10px;
}

.social {
    /*border:1px solid #000;*/
    top: 50%;
    /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
}

.img-social {
    height: 48px;
}

.bg-light {
    padding-top: 0px;
    padding-bottom: 0px;
}

footer {
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(85, 193, 255);
}

.top-10 {
    padding-top: 10px;
}

.error {
    height: 0px;
}

#carrusel {
    max-width: 500px;
    justify-content: center;
    align-items: center;
}